
.styles{
  display: flex;
}
.styles li {
  margin : 0px 10px 0px 10px;
}
.hoveMenu {
  position: relative;
  display: inline-block;
}

.hovSubMenuItems {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hovSubMenuItems li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hovSubMenuItems li:hover {
  background-color: white;
}

.hovMenu:hover .hovSubMenuItems {
  display: block;
}